
.hidden{
    display:none;
}
.btn-small {
    padding: 2px 6px;
}
table.stocks input{
    margin: 0;
}
input.sent{
    background-color:#dff0d8;
}
.input-small.sy,
.input-medium.sb,
.input-large.sn

{
    padding: 2px 6px;
}

table.stocks tr,
table.stocks td

{
     padding: 2px 6px;
}

input.tra
{
    padding: 2px 6px;
    margin: 0;
}
.add-stock {
    margin: 0;
    padding-top:3px;
}
.add-stock .btn {
    margin: 0;
   
}
.breadcrumb{
    margin:0;
    background-color: none;
}
.btns .btn-small {
    padding: 0 2px;
    font-size: 10px;
    
    margin-top: 1px;
}
#loading{
    margin-left: 4px;
    display:none;
}
#new-stock-ticker{
    margin-right: 4px;
}

#select-stock{
    font-size: 12px;
    height:500px;
    overflow-y:scroll; 
    margin-right:25px;
}



#graph{
     width:700px;
     height:500px;
}


#select-stock label{
    font-size: 10px;
    min-height: 18px;
    margin-bottom: 0;
    margin-right: 5px;;
}
.legendColorBox div{
    margin-left:6px;
    margin-right:1px !important;
}

.nav-stocks .btn-small{
    padding: 3px 4px;
}

#select-stock{
   font-size: 10px;
}
#select-stock li{
   line-height: 10px;
}
#select-stock a{
   vertical-align: bottom;
   margin-left:3px;
   text-decoration: none;
   padding: 1px 2px;
}
#select-stock a.off,
#select-stock a.off:hover
{
   color: #808080;
   cursor: default;
}
#select-stock a:hover{
   color: blue;
}
#select-stock [class^="icon-"],
#select-stock  [class*=" icon-"]{
   line-height: 13px;
   height: 13px;
   cursor: pointer;
}
#select-stock a.selected{
    font-weight: bold;
    color:#fff;
    background-color: #08c;
}
.icon-eye-close{
    opacity: 0.4;
    filter: alpha(opacity=40);
}

