/*	Default stylesheet			*/
/*	Author: 					*/
/* 	Company: 	tfe.com			*/
	

html, 
body {

	margin: 0;
	font: normal normal normal .79em/1.5em verdana, arial, sans-serif;
	/*waarom justify?
	text-align:justify;
	*/
}

body {
	/*background: #545DA9; */
	/* door dit te veranderen in
	   onderstaande is die balk bovenin weg van een paar pixels hoog. */
	background: #5E67A4 url('../images/bgGradient.jpg') no-repeat 0 0;
}

a {
	color: #333;
	text-decoration: underline;
}

a:hover {
	color: #7D5C54;
}

img {
	
}

h1 {
	color: #337;
	font-size: 1.2em;
	font-weight: bold;
	margin: 00px 10px 11px;	
}

h2 {
	clear: both;
	color: #0078D7;
	float: none;
	font-size:1.4em;
	font-weight: bold;
	margin: 35px 0 10px;
}

h2.contenttitle {
	margin-top: 8px;
}

/* voor games.php: */
h2.contenttitleG1 {
	margin-top: 0px;
	margin-bottom: 3px;
}
h2.contenttitleG2 {
	margin-top: 6px;
	margin-bottom: 3px;
}

.graphTitle h2 {
	margin: 8px 0 6px;
}

h3 {
	color: #666;
	font-size: 1.2em;
	font-weight: bold;
	margin: 6px 0 7px;
	text-indent: 0;
}

h4 {
	color: #333;
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 20px;
}


h6 {
	
}


p {
	clear: both;
	color: #333;
	font-size: 1.0em;
	margin: 10px 0;
}

abbr {
	
}

strong, 
b {
	

}

em {
	font-style: normal;
	font-weight: bold;
}


ul {

	


}

li.c1 {list-style: none}

li.c1 ul{margin-left:10px;}
ul li {

	

}

/*  menuindex  */
.main ol.menulist, .main ul.menulist{
list-style-position: inside;
}

.main ul.menulist li{
font-size: 1.2em;
line-height:1.5em;
}

/ * 1-2 2014 hier stond als size 1.1em */
.main ol li, .main ul li{
font-size: 1.0em;
}


hr {
	display: none;
}

hr.divider{
	display: block;
	height:1px;
	color:#ccc;
}

.hr {
	border-bottom: 1px solid #D1DAED;
	clear: both;
	display: block;
	margin: 15px 0;
}

td {
	color: #333; 
	vertical-align: top;
 }
/***/


/* repeated styles */

.skiplink {
	display: block;
	position: absolute;
	top:0;
	left: -999px;
	height: 20px;
	padding: 10px 20px;
	background: #aaa;
}

.skiplink:focus {
	left: 0;
}

.discreet {
	color: #777;
	margin: 0;
}

.discreet sup {
	color: #F60;
}

.more {
	
}

.back {
		
}

a.more:hover, 
a.back:hover {
	

}

.last {
	background: none;
	border: none !important;
}

.positionLeft {
	float: left;
}

.positionRight {
	float: right;
}

.center {
	text-align: center;
}

.clear {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {
	height: 1%;
}

.sitemap {
  	width: 28%; 
	margin-right: 1.5%;
    float: left;
}

.sitemap li {
	list-style-type: none;	
}
	
.sitemap .item1 {
/*	font-size: 100%;*/
	font-size: 1em;
	font-weight: bold;
	height:19px;
}

.sitemap .item2 {
	font-size: 90%;
	height:19px;
	margin-left:15px;
}

.sitemap .item3 {
	font-size: 80%;
	margin-left: 30px;
}

.sitemap .iconXL {
	background: url('../images/iconXL.png') no-repeat 100% 2px;
	display:inline;
}

.sitemap .iconMXL {
	background: url('../images/iconMXL.png') no-repeat scroll 100% 2px;
	display:inline;
}

.nobg {
	background: none !important;
}

.shareUp {
	background: url('../images/bgShareUp.gif') no-repeat 0 6px;
}

.shareDown {
	background: url('../images/bgShareDown.gif') no-repeat 0 6px;
}

.shareNeutral {
	background: url('../images/bgShareNeutral.gif') no-repeat 0 6px;
}

.shareUp, 
.shareDown, 
.shareNeutral {

	padding: 0px 0px 0px 15px/* !important*/;
}

span.shareUp, 
span.shareDown, 
span.shareNeutral {

	background-position: 0 0;
	padding: 0px 0px 0px 15px !important;
}

td.shareUp, 
td.shareDown, 
td.shareNeutral {

	background-position: 99% 6px;
/*	padding: 0px 0px 0px 15px !important;*/
}

table.sharesUp td.shareUp,
table.sharesDown td.shareDown{

	background-position: 0 9px;
	padding: 0px 0px 0px 15px !important;
}

table.keuzemenu td.keuzemenu {
	border: 1px;
}

/* onder ... boven */
table.puzzle td.puzzle {
	padding: 9px 9px 9px 9px;
}

.shareDetails span.shareUp, 
.shareDetails span.shareDown, 
.shareDetails span.shareNeutral {

	background-position: 0 1px;
}


.iconNoneLarge, 
.iconTrialLarge, 
.iconMLarge, 
.iconXLLarge {

	background: transparent no-repeat 0 0;
	display: block;
	height: 53px;
	text-indent: -999em;
	width: 52px;
}

.iconNoneLarge {
	background-image: url('../images/iconNone.gif');
	height: 44px;
	width: 67px;
}

.iconTrialLarge {
	background-image: url('../images/iconTrialLarge.gif');
}

.iconMLarge {
	background-image: url('../images/iconMLarge.gif');
}

.iconXLLarge {
	background-image: url('../images/iconXLLarge.gif');
}
.watermarked {
	background-image:url('../images/watermark_100.png');
	background-repeat:no-repeat;
	background-position:62% 61%;
}
/* btns */







.btn {
	background: url('../images/btnLeft.gif') no-repeat 0 0;
	color: #FFF;
	display: inline-block;
	font-size: 1.1em;
	padding: 0 0 0 7px;
	text-decoration: none;
}

.btn span {
	background: url('../images/btn.gif') no-repeat 100% 0;
	display: inline-block;
	padding: 2px 7px 4px 0px;
}

.btn:hover {
	background-position: 0 -60px;
	color: #FFF !important;
	cursor: pointer;
	text-decoration: none;
}

.btn:hover span {
	background-position: 100% -60px;
}

p .btn {
	font-size: 1em;
}

.btn.pp {
	background-image: url('../images/btnPp.gif');
	display: inline-block;
	font-size: 8px;
	font-family: arial, verdana, sans-serif;
	height: 13px;
	margin: 0 0 0 11px;
	text-indent: -999em;
	width: 23px;
}

.btnSmall {
	background-image: url('../images/btnSmallLeft.gif');
	font-size: 10px;
	line-height: 9px;
	margin: 0 2px 3px 0;
	padding-left: 3px;
}

.btnSmall span {
	background: url('../images/btnSmall.gif') no-repeat 100% 0;
	padding: 1px 3px 3px 0px
}

.btnLarge {
	background: url('../images/btnLarge.gif') no-repeat 0 0;
/*	font-size: 1.2em; */
	font-size: 1.0em;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 3px;
	padding-left: 9px;
}

.btnLarge span {
	background: url('../images/btnLarge.gif') no-repeat 100% 0;
	padding: 6px 16px 7px 0px
}

.btnXL {
	background: url('../images/btnXL.gif') no-repeat 0 0;
	color: #FFF;
	display: inline-block;
	font-size: 1.1em;
	padding-left: 4px;
	text-decoration: none;
}

.btnXL span {
	background: url('../images/btnXL.gif') no-repeat 100% 0;
	display: inline-block;
	padding: 2px 31px 4px 0px
}


.btn.btnDagkoers {
	background-image: url('../images/btnDagkoers.gif');
	display: inline-block;
	height: 13px; 
	text-indent: -999em;
	width: 15px;
}

.btn.btnKoersWinst {
	background-image: url('../images/btnKoersWinst.gif');
	display: inline-block;
	height: 13px; 
	text-indent: -999em;
	width: 15px;
}

.btn.btnInfo {
	background-image: url('../images/btnInfo.gif');
	float: left;
	height: 22px;
	margin-right: 4px;
	width: 22px;
}

#msg {
	color:#FF9900;
	font-weight: bold;
}

#tooltip {
	background: #6477B5;
	padding: 10px;
	position: absolute;
	width: 171px;
	z-index: 3000;
}

#tooltip h3 {
	color: #FFF;
	font-size: 1.1em;
	font-weight: normal;
	margin: 0;
}

.kw, .opts {
	text-decoration: none;
}

.opts {
	color:#0078D7; 
}

/* */

.iconM, 
.iconXL, 
.iconMXL ,
.active .iconM, 
.active .iconXL, 
.active .iconMXL {

	padding: 3px 25px 3px 0;
}

.iconM,
.active .iconM {

	background: url('../images/iconM.png') no-repeat 100% 2px;
}

.iconXL ,
.active .iconXL{

	background: url('../images/iconXL.png') no-repeat 100% 2px;
}

.iconMXL,
.active .iconMXL {

	background: url('../images/iconMXL.png') no-repeat 100% 2px;
	padding-right: 46px;
}


form .iconXL {
	background-position: 0;
	display: inline-block;
	height: 21px;
	padding: 0;
	text-indent: -999em;
	width: 21px;
}


/* idTabs */

.portlet .idTabs {
	margin: 0px 0px -1px -10px;
}

.idTabs {
	clear: left;
	height: 1%;
}

.idTabs li{
	list-style: none;
	display:inline;
	float: left;	
}

.idTabs a {
	background: url('../images/bgTabInactiveLeft.gif') no-repeat 0 0;
	color: #4F3A35;
	float: left;
	font-weight: bold;
	margin-right: 4px;
	text-decoration: none;
	white-space: nowrap;
}

.idTabs a span {
	background: url('../images/bgTabInactiveTrans.gif') no-repeat 100% 0;
	display:inline-block;
	padding: 4px 6px 6px 3px;
	margin-left: 4px;
	
}

.idTabs a:hover {
	cursor: pointer;
}

.idTabs a.selected {
	background-image: url('../images/bgTabActiveLeft.gif');
}

.idTabs a.selected span {
	background-image: url('../images/bgTabActive.gif');
}

.idTabs a span.iconXL {
	background: url('../images/bgTabInactiveXL.gif') no-repeat 100% 0;
	padding-right: 32px;
}

.idTabs a.selected span.iconXL {
	background-image: url('../images/bgTabActiveXL.gif');
}

.idTabs a:hover {
	color: #000;
}


.idTabsRight {
	bottom: 0;
	position: absolute;
	right: 145px;
	width: 373px;
}

.tabNederland {
	margin-left: 293px;
}

/* end repeated styles */



/*UI tabs*/

.ui-tabs-nav ul{
	margin: 0px 0px -1px -10px;
	clear:left;
	height:1%;
}

.ui-tabs-nav ul {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
}

.ui-tabs-nav li {
	list-style: none;
	display:inline;
	float: left;
}

.ui-tabs-nav li a {
	background: url('../images/bgTabInactiveLeft.gif') no-repeat 0 0;
	color: #4F3A35;
	float: left;
	font-weight: bold;
	margin-right: 4px;
	text-decoration: none;
	white-space: nowrap;
}

.ui-tabs-nav a span {
	background: url('../images/bgTabInactiveTrans.gif') no-repeat 100% 0;
	display:inline-block;
	padding: 6px 10px 4px 6px;
	margin-left: 4px;
}

.ui-tabs-nav li a:hover {
	cursor: pointer;
}

.ui-tabs-nav li.ui-tabs-selected a{
	background-image: url('../images/bgTabActiveLeft.gif');
}

.ui-tabs-nav li.ui-tabs-selected a span {
	background-image: url('../images/bgTabActive.gif');
}

.ui-tabs-nav a span.iconXL {
	background: url('../images/bgTabInactiveXL.gif') no-repeat 100% 0;
	padding-right: 32px;
}

.ui-tabs-nav li.ui-tabs-selected a span.iconXL {
	background-image: url('../images/bgTabActiveXL.gif');
}

.ui-tabs-nav a:hover {
	color: #000;
}


.ui-tabs-panel {
	/*resets*//*margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	font-family: Verdana,Arial,sans-serif;
	clear:left;
	border: 1px solid #d3d3d3;*/

}

.ui-tabs-hide {
	display: none;/* for accessible hiding: position: absolute; left: -99999999px*/;
}

/*end UI tabs*/




/* dit lijkt me de achtergrond image op het grootste deel */
.bgGradient {
	background: #5E67A4 url('../images/bgGradient.jpg') no-repeat 0 0;
	padding-bottom: 16px;
	width: 100%;
}

.container {
	margin: 0 auto;
	width: 992px;
}


/* header */

.printLogo {
	display: none;
}

.headerBanner {
	margin-top: 4px;
	margin-right: 0px;
	margin-bottom: 8px;
	/*margin-left: 60px;*/
	margin-left: 0px;
	/* width: 828px; */
	width: 728px;
}

#header {
	background: url('../images/bgHeader.png') no-repeat 0 0;
	height: 116px;
	margin-bottom: 7px;
	position: relative;
	width: 976px;
	z-index: 9;
}

#header .logo {
	left: 12px;
	position: absolute;
	top: 10px;
}

#header .headerTitle {
	background: url('../images/headerTitle.gif') no-repeat 0 0;
	display: block;
	height: 20px;
	left: 189px;
	position: absolute;
	text-indent: -999em;
	top: 42px;
	width: 237px;
}

#header fieldset {
	position: relative;
}

#header legend {
	display: none;
}

#header input {
	background: #F8F9FC;
	border: 1px solid #D2D2D2;
	color: #7D5C54;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	height: 12px;
	margin-bottom: 4px;
	width: 157px;
}

#header .search {
	height: 20px;
	position: absolute;
	right: 3px;
	top: 85px;
	width: 229px;
}

#header .search input.submit {
	background: transparent url('../images/btnHeaderSearch.gif') no-repeat 0 0;
	border: 0;
	cursor: pointer; /* hand-shaped cursor */
	height: 18px;
	line-height: 2000px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 31px;
	text-indent: -999em;
	top: 0;
	width: 22px;
}

#header .login {
	color: #7D5C54;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	right: 3px;
	top: 11px;
	width: 323px;
}

#header .login label {
	clear: left;
	display: block;
	float: left;
	font-size: 1.1em;
	font-weight: normal;
	margin-right: 7px;
	text-align: right;
	width: 87px;
}

#header .login input.submit {
	  background: transparent url('../images/btnHeaderLogin.gif') no-repeat 0 0;
	  border: 0;
	  cursor: pointer; /* hand-shaped cursor */
	  line-height: 2000px;
	  height: 39px;
	  margin: 0;
	  overflow: hidden;
	  padding: 0;
	  position: absolute;
	  right: 10px;
	  text-indent: -999em;
	  top: 0;
	  width: 42px;
}

#header .login span {
	position: absolute;
	left: 94px;
	top: 46px;
}

#header .login p {
	color: #545DA9;
}

#header .login a {
	color: #7D5C54;
	display: inline-block;
	padding-bottom: 10px;
}

#header .login a.first {
	background: url('../images/bgHeaderLoginFirst.gif') no-repeat 100% 5px;
	padding-right: 4px;
}



/** cssmenu, dropdown styling **/

#header ul#headerMain {
	position: absolute;
	top: 78px;
	left: 3px;
	font-weight:bold;
}

#header ul#headertext {
	position: absolute;
	top: 10px;
	left: 200px;
	background: none;
	list-style-type:none;
	padding:0px;
	margin:0px;
	color:#0078D7;
}


#header ul li {
	background: url('../images/bgHeaderLi.gif') no-repeat 0 6px;
	float: left;
	list-style: none;
	position: relative;

}

#header ul#headertext li {
	background: none;
	float:none;
	padding:0px;
	margin:0px;
	
	list-style: square inside;
}

#header ul li.first {
	background: none;
}

#header li a {
	color: #4F3A35;
	display: block;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	padding: 8px 7px 11px 10px;
	text-decoration: none;
}

#header li ul li a {
	padding: 5px 7px 8px 10px;
}


#header li.first a {
	padding-left: 10px;
}

#header li.first a .active {
	padding-left: 16px;
}

#header li a.active {
	background: url('../images/bgHeaderActive.gif') no-repeat -5px 0;
	padding: 8px 7px 11px 10px !important;
}

#header li.first a.active {
	background-position: 0 0;
}

#header li:hover a, 
#header li.sfhover a {

	background: url('../images/bgHeaderHover.gif') no-repeat 0px 0;
	color: #FFF;
	text-decoration: none;
}

#header li:hover li a, 
#header li.sfhover li a {

	background: transparent;
}

/**
die background is de background van de teardown menus!
die width is de width van het hele teardown blokje 
**/
#header #headerMain ul {
	background: url('../images/bgHeaderSub.png') no-repeat 0 100%;
	left: -999em;
	padding: 10px 0;
	position: absolute;
	top: 33px;
	width: 255px;
}

#header ul#headerMain li:hover ul, 
#header ul#headerMain li.sfhover ul {

	left: 0;

}

/** het volgende lijkt invloed te hebben op de teardown menus
**/
#header ul ul li {
	background: transparent;
	float: none;
	margin: 0px;
	padding: 0px; 
}

#header ul ul a {
	color: #FFF;	
	float: none;
	font-weight: normal;
	padding: 3px 7px 6px 10px;
}

#header ul ul a:hover {
	background: transparent;
	text-decoration: underline;
}

#header ul ul a span.more{
	position:absolute;
	right:20px;
	font-size:120%;
	text-decoration: none;
}

#header  li ul a:hover span{
		background-color:#4646a4;
		text-decoration:none;
}
/** **/
		/**
		**/


/*========= derde niveau=====*/
#header ul#headerMain li ul li ul{
	top: -9px;
	display:none;
}

#header ul#headerMain li ul li:hover ul, 
#header ul#headerMain li ul li.sfhover ul {
	display:block;
	left: 250px;
}

#header ul ul ul li {
	background: transparent;
	float: none;
	margin: 0;
}

#header ul ul ul a {
	color: #FFF;	
	float: none;
	font-weight: normal;
	padding: 3px 7px 6px 10px;
}

#header ul ul ul a:hover {
	background: transparent;
	text-decoration: underline;
}


/* end header */

.breadcrumb {
	margin: 0px 0 8px;
}

.breadcrumb li {
	background: url('../images/bgBreadcrumbLi.gif') no-repeat 0 3px;
	color: #FFF;
	display: inline;
	font-size: 1.1em;
	padding: 0px 4px 0 10px;
}

.breadcrumb li a {
	color: #FFF;
	text-decoration: underline;
}

.breadcrumb li a:hover {
	color: #FFF;
}

.shareDetails {
	background-repeat: no-repeat;
	height: 48px;
	font-size: 1.1em;
	margin: 0px 0px 10px 13px;
	padding: 0px 20px 6px 120px;
	text-align: right;
}

.shareDetails h1 {	
	float: left;
	margin: 0;
	text-indent: -999em;
}

.shareDetails span {
	line-height: 24px;
}

.shareDetails .isin {
	border-left: 1px solid #6989C6;
	padding: 0px 0px 0px 7px;
}

.shareDetails .sector {
	clear: left;
}

/* portlet block */

.portlet {
	width: 100%;
	margin: 0px auto 6px;
	min-width: 20em;
	color: #333;
	padding: 0;
	background: transparent;
	overflow: hidden;
}

.portlet .portletTop .c {
	font-size: 1px; 
	height: 8px;
	overflow: hidden;
}

.portlet .portletBottom .c {
	font-size:1px; 
	height: 4px;
	overflow: hidden;
}

.portlet .portletBottom .c {
	height: 4px;
	overflow: hidden;
}

/* nieuw */
.portlet .portletDown .c {
	height: 18px;
	overflow: hidden;
}

.portlet .portletTop {
	background: url('../images/portlet_tl.png') no-repeat 0px 0px;
	height: 8px;
}

.portlet .portletTop .c {
	background:transparent url('../images/portlet_tr.png') no-repeat right 0px;
}

.portlet .portletBody {
	background: transparent url('../images/portlet_l.png') repeat-y 0 0px;
	margin-bottom: -5px;
}

.portlet .portletBody .c {
	background: url('../images/portlet_r.png') repeat-y right 0px;
}

.portlet .portletBody .c .s {
	margin: 0px 3px 0px 3px;
	background: #D1DAED;
	padding: 0em 10px 1px 10px;
}

.portlet.tabs .portletBody .c .s{
	height: 47px;
}

.portlet .portletBottom {
	background: url('../images/portlet_bl.png') no-repeat 0px 0px transparent;
}

.portlet .portletBottom .c {
	background: url('../images/portlet_br.png') no-repeat right 0px transparent;
}

/* */
.portlet .portletDown {
	background: url('../images/portlet_dl.png') no-repeat 0px -38px;
	height: 18px;
}

.portlet .portletDown .c {
	background:transparent url('../images/portlet_dr.png') no-repeat right -38px;
}

/* */
.portletTop,
.portletBody, 
.portletBottom ,
.portletDown{

	margin-right: 6px;
}

.c {
	margin-right: -6px;
}

.portlet  h3 {
	color: #337;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 8px 0px;
}

.portlet .idTabs {
	margin-left: -10px;
}

.portlet p {
	margin: 0.5em 0px 0px 0px;
	padding: 0px;
	font: 1.1em/1.5em arial,tahoma,"sans serif";
}

.portlet.getBehrian p {
	margin: 0;
	padding: 8px 18px;
	font: 1.1em/1.4em verdana,helvetica,"sans serif";
	
}	

.portletBody .article a {
	color: #09c;
	padding-right: 20px;
}

pre{
font: 1.1em/1.5em "Lucida Console", Monaco, monospace;
}

html>body .portlet pre {
	font-size: 1.1em;
}

.portletContent {
	padding-bottom: 10px;
	margin: 5px 10px;
}

.portletContent table {
	border-bottom: 1px solid #CCC;
	margin: 5px 0px 10px;
}

.portletContent table.shares tr.odd td {
	background-color: #EBE6E5;
}

.portletContent table.shares tr td {
 	border: 0;
	font-size: 1.1em;
}

table.shares.sharesLarge {
	margin-bottom: 20px;
}


/** popUp **/

#ak_modal_div.portlet {
	position: absolute;
	width: auto;
	z-index: 9999;
}

#ak_modal_div .portletBody {
	margin-bottom: 0;
}

body.popUp {
	background: transparent;
	padding: 0 5px;
}


body.popUp p {
	width: 425px;
}

.popUpHeader {
	background: url('../images/bgPopUpHeader.png') no-repeat 0 0;
	height: 32px;
	position: relative;
	width: 505px;
}

.popupHeaderOverlay {
	background: transparent;
}

.popUpTitle {
	color: #337;
	font-size: 1.2em;
	font-weight: bold;
	left: 13px;
	position: absolute;
	top: 8px;
}

a.popUpClose {
	background: url('../images/btnClose.gif') no-repeat 100% 0;
	color: #977D76;
	font-weight: bold;
	padding: 3px 20px 5px 0;
	position: absolute;
	right: 10px;
	text-decoration: none;
	top: 5px;
	width: 90px;
}

a.popUpClose:hover{
	background-position: 100% -60px;
}

.popUpBody {
	background: url('../images/bgPopUpBody.png') repeat-y 0 0;
	padding: 10px;
}

.portletBody iframe {
	margin: 10px;
}

.popUpFooter {
	background: url('../images/bgPopUpFooter.png') no-repeat 0 0;
	height: 8px;
}

#ak_modal_div .c {
	margin-right: -6px;
}

#ak_modal_div .portletBottom {
	background: url('../images/bgPopUpbl.png') no-repeat 1px 0;
	height: 8px;
	
}

#ak_modal_div .portletBottom .c {
	background: url('../images/bgPopUpbr.png') no-repeat 100% 0;
	height: 8px;
}

/** **/

/* */

.posHigh, .posLow {
	padding: 2px;
}

.posHigh {
	background-color: #7FBBEB;
}

.posLow {
	background-color: #E57F7F; 
}
/* homepage */


.column1 {
	float: left;
	margin-right: 6px;
	width: 282px;
}

/* koersinformatie portlet */

.portlet ul  {
	margin: 5px 0;
}

.portlet.tabs.shareInfo .portletContent ul li {
	background: url('../images/bgPortletLi.gif') no-repeat 0 3px;
	display: inline-block;
	float: left;
	padding: 0px 7px 0px 8px;
}

.portlet li.nobg {
	background: none;
}

.rightMargin {
	margin-right: 100px;
}

.clearLeft {
	clear: left !important;
	display: block;
}

.portlet ul.timeFrame {
	margin-bottom: 15px;
}

.portlet ul.timeFrame  li a {
	color: #9E857F;
	font-family: Arial, verdana, sans-serif;
	font-size: 1em;
	text-decoration: underline;
}

.portlet a:hover {
	color: #4D3631;
}


.portletTermijnen {
	margin: 27px 0;
}

.portletTermijnen .portletHeader {
	height: 25px;
	width: 100%;
}

.portletTermijnen .idTabs a {
	background: url('../images/bgPortletTermijnenTabInactive.gif') no-repeat 0 0;
	color: #4F3A35;
	float: left;
	font-weight: bold;
	margin-right: 2px;
	text-decoration: none;
	white-space: nowrap;
}

.portletTermijnen .idTabs a span {
	background: url('../images/bgPortletTermijnenTabInactive.gif') no-repeat 100% 0;
	display:inline-block;
	padding: 6px 10px 4px 6px;
	margin-left: 4px;
}

.portletTermijnen .idTabs a.selected,
.portletTermijnen .idTabs a.selected span {

	background-image: url('../images/bgPortletTermijnenTabActive.gif');
}

.portletTermijnen .portletBody {
	background: url('../images/bgPortletTermijnen.png') repeat-x 0 0 #C6CBDF ;
	padding: 10px 10px 0;
}



.portletTermijnen .portletBody li {
	background: url('../images/bgPortletTermijnenLi.gif') repeat-x 0 0;
	clear: both;
	display: inline-block;
	float: none;
	list-style: none;
	padding: 8px 5px 5px 0px;
	width: 100%;
}

.portletTermijnen .portletBody li a {
	float: left;
	font-size: 0.9em;
}

.portletTermijnen .portletBody li a.btn {
	float: right;
}

.portlet.koersinfo .btn{
	margin-bottom: 5px;
}

table.distributie {
	border: 1px solid #CCC;
}
table.distributie th {
	border: 1px solid #CCC;
	padding: 2px 6px 2px 3px;
}
table.distributie td {
	border: 1px solid #CCC;
	padding: 3px 7px 3px 4px;
}

/* share Statistics  & portfolio tables */

table.shares {
/*	border-bottom: 1px solid #CCC;*/
	color: #333;
	margin-bottom: 5px;
/*	width: 100%; */
}

table.shares th {
	background: #EBE6E5;
	vertical-align: top;
	font-weight: bold;
}

table.shares th span {
	display: inline-block;
	color: #4F3A35;
	font-weight: bold;
	line-height: 1.1em;
	width: 100%;
	margin-right:25px;
}

table.shares th.header span {
	background: url('../images/iconHeaderSort.gif') no-repeat 100% 3px;
	
}

table.shares th.header:hover, 
table.shares th.headerSortDown, 
table.shares th.headerSortUp {

	background-color: #CEC2BF;
	cursor: pointer;
}

table.shares th.headerSortDown span {
	background-image: url('../images/iconHeaderSortDown.gif');
}

table.shares th.headerSortUp span {
	background-image: url('../images/iconHeaderSortUp.gif');
}

table.shares tr {
	background: #FFF;
}

table.shares tr.odd td{
	background-color: #F8F6F6;
}

table.shares td a {
	display: inline-block;
	float: left;
	margin-right: 4px;
}

table.shares td, table.shares th {
	font-size: .9em;
	padding: 1px 1px;
	/*text-align: right;*/
}

table.shares th {
	border-right: 1px solid #FFF;
	/*font-size: 1em;
	padding: 3px 2px;*/
}

table.shares tfoot td {
	border-right: 1px solid #FFF;
}


table.shares thead th{
	background-color: #EBE6E5;
}

.portlet table.shares td.shareUp {
	color: #669900;
}

.portlet table.shares td.shareNeutral {
	color: #7D5C54;
}

.portlet table.shares td.shareDown  {
	color: #C00;
}

table.shares.sharesUp {
	float: left;
	width: 300px;
}

table.shares.sharesDown {
	float: right;
	width: 300px;
}

table.shares .accentuated {
	background-color: #F8F6F6;
	width: 76px;
}

table.shares .odd .accentuated {
	background-color: #F1EEED;
}

.portlet table.shares .accentuated {
	background-color: #F8F6F6;
	padding-left: 15px;
}

.portlet table.shares .odd .accentuated {
	background-color: #E5DFDD;
}

.tableTotals {
	border-bottom: 1px solid #D1DAED;
	clear: both;
	color: #0078D7;
	font-size: 1.1em;
	padding: 2px 0 13px;
}

.tableTotals span {
	margin-left: 10px;
}

/** portfolio table **/

table.shares.portfolio {
	margin-top: 20px;
}

.column table.shares.portfolio{
	margin-top:-5px;
	border-right: solid 3px #ebe6e5;
}
.lastcol.column table.shares.portfolio{
	

	border-right: none;
}

.portfolioName {
	width: 157px;
}

.portfolioValue1 {
	width: 75px;
}

.portfolioValue2 {
	width: 75px;
}

.portfolioProfitOnClose {
	width: 102px;
}

.portfolioProfit {
	width: 127px;
}

.portfolioProfitEuro {
	width: 58px;
}

.portfolioProfitPercentage {
	width: 62px;
}

.portfolioActions {
	width: 160px;
}

table.shares.portfolio tbody td {
	height: 25px;
	vertical-align: middle;
}

.portfolio tfoot td {
	background: #EBE6E5;
	padding: 0;
}

.portfolio tfoot td span {
	background: #DFD7D6;
	display: block;
	font-weight: bold;
	height: 10px;
	padding: 6px 5px 10px;
}

table.closingValues {
	margin-top: 15px;
	width: 100%;
}

table.closingValues .odd td {
	background-color: #E4DEDD;
}

table.closingValues td {
	padding: 1px 3px;
	white-space: nowrap;
	width: 20%;
}

table.closingValues td.last {
	width: auto;
}


/** **/

.column2 {
	float: left;
	margin-right: 6px;
	width: 249px;
}

.portlet.functions .portletContent,
.portlet.featured .portletContent, 
.portlet.getBehrian .portletContent {

	margin: 0 0px 5px;
	padding-bottom: 0;
}

.portlet.featured .portletContent{
	margin: 0 0px 4px;
}

/* functies portlet */

.portlet.functions .portletContent {
	margin: 0 10px 5px;
	padding-bottom: 0;
}

.portlet.functions ul {
	background: url('../images/bgPortletFunctionsLi.gif') repeat-y 100% 0;
	margin: 0px -7px 0px -7px;
	padding: 0;
}

.column3 .portlet.functions ul {
	background: url('../images/bgPortletFunctionsLi_column3a.png') repeat-y 100% 0;
}

.column3 .portlet.functions ul#column3b {
	background: url('../images/bgPortletFunctionsLi_column3b.png') repeat-y 100% 0;
}

.column3 .portlet.functions ul#column3c {
	background: url('../images/bgPortletFunctionsLi_column3c.png') repeat-y 100% 0;
}

.portlet.functions ul li {
	border-bottom: 1px solid #BBC8E4;
	list-style: none;
	margin: 0px -4px 0px 0;
	padding: 0px 3px 0px 15px;
	width: 225px;
}
.column3 .portlet.functions ul li {


	width: 280px;
}
.portlet.functions ul li:hover,
.portlet.functions ul li.sfhover {
	

	/*	background:#ebe6e5;
	
	*/
		background-image: url('../images/bgPortletFunctionsLi_hover.png') ;
		background-position: left bottom;
		background-repeat: no-repeat;
	}
.column3 .portlet.functions ul li:hover,
.column3 .portlet.functions ul li.sfhover {


		background-image: url('../images/bgPortletFunctionsLi_column3a_hover.png') ;
}
.column3 .portlet.functions ul#column3b li:hover,
.column3 .portlet.functions ul#column3b li.sfhover {


		background-image: url('../images/bgPortletFunctionsLi_column3b_hover.png') ;
}
.column3 .portlet.functions ul#column3c li:hover,
.column3 .portlet.functions ul#column3c li.sfhover {


		background-image: url('../images/bgPortletFunctionsLi_column3c_hover.png') ;
}


.portlet.functions ul li.last {
	border-bottom: 0;
	
}

.portlet.functions ul#column3a li.last ,.portlet.functions ul#column3b li.last{
	border-bottom: 1px solid #BBC8E4 !important;
	
	
}
/* dirty hack for IE7*/
* + html .portlet.functions ul li.last {


	border-bottom: 0;
	margin-bottom:-7px ;
}
* + html .portlet.functions ul#column3a li.last {
	border-bottom: 0;
	margin-bottom:-7px ;
}
* + html .portlet.functions ul#column3b li.last {
	border-bottom: 0;
	margin-bottom:-2px ;
}

/*end IE7 hack*/
.portlet.functions a {
	background: url('../images/bgPortletFunctionsA.gif') no-repeat 200px 100%;
	color: #333;
	display: block;
	font-size: 1.1em;
	padding: 9px 50px 11px 0;
	text-decoration: none;
}

.column3 .portlet.functions a {
	background: url('../images/bgPortletFunctionsA.gif') no-repeat 255px 100%;
	color: #333;
	display: block;
	font-size: 1.1em;
	padding: 9px 50px 11px 0;
	text-decoration: none;
}

.column3 .portlet.functions a {
	background: url('../images/bgPortletFunctionsA_column3a.gif') no-repeat 255px 100%;
}

.column3 .portlet.functions #column3b a {
	background: url('../images/bgPortletFunctionsA_column3b.gif') no-repeat 255px 100%;
}

.column3 .portlet.functions #column3c a {
	background: url('../images/bgPortletFunctionsA_column3c.gif') no-repeat 255px 100%;
}

.portlet.functions a span {
	color: #0078D7;
	background: url('../images/bgPortletFunctionsH4.gif') no-repeat 0 2px;
	display: block;
	font-size: 1.25em;
	font-weight: bold;
	padding: 0 0px 2px 20px;
}

.column3 .portlet.functions a span {
	color: #9AC400;
	background: url('../images/bgPortletFunctionsH4_column3a.gif') no-repeat 0 2px;
}

.column3 .portlet.functions #column3b a span {
	color: #7132C6;
	background: url('../images/bgPortletFunctionsH4_column3b.gif') no-repeat 0 2px;
}

.column3 .portlet.functions #column3c a span {
	color: #D12028;
	background: url('../images/bgPortletFunctionsH4_column3c.gif') no-repeat 0 2px;
}

.portlet.functions a:hover {
	background-image: url('../images/bgPortletFunctionsAhover.gif');
}

.column3 .portlet.functions a:hover {
	background: url('../images/bgPortletFunctionsA_column3a_hover.gif') no-repeat 255px 100%;
}

.column3 .portlet.functions #column3b a:hover {
	background: url('../images/bgPortletFunctionsA_column3b_hover.gif') no-repeat 255px 100%;
}

.column3 .portlet.functions #column3c a:hover {
	background: url('../images/bgPortletFunctionsA_column3c_hover.gif') no-repeat 255px 100%;
}

.portlet.functions li.last {
	border: 0; 
}


.column3 {
	float: left;
	margin-right: 8px;
	width: 305px;
}

/* functies portlet */

.portlet.featured ul {
	margin: -5px 0px 0px 3px;
	padding: 0;
}

.portlet.featured ul li {
	background: url('../images/bgPortletFeaturedLi.gif') repeat-x 0 100%;
	list-style: none;
	margin: 0;
	padding: 10px 7px 0px 15px;
	width: 277px;
}

.portlet.featured ul li.last {
	border-bottom: 0;
}

.portlet.featured a {
	background: url('../images/bgPortletFunctionsA.gif') no-repeat 254px 100%;
	color: #333;
	display: block;
	font-size: 1.1em;
	padding: 0 10px 50px 0;
	text-decoration: none;
}

.portlet.featured a span {
	color: #0078D7;
	background: url('../images/bgPortletFunctionsH4.gif') no-repeat 0 2px;
	display: block;
	font-size: 1.25em;
	font-weight: bold;
	padding: 0 0px 6px 20px;
}

.portlet.featured a:hover {
	background-image: url('../images/bgPortletFunctionsAhover.gif');
}


/* subscriptions */

/*.portlet .portletBody {
	background: #F0F;
}*/

.portlet.getBehrian .portletContent {
	/*height: 292px;*/
	height:100%;
	padding-bottom: 0px;
/*	margin: 5px 0 0px;*/
}


a.getBehrianXL, 
a.getBehrianM ,
a.getBehrianTrial{

	background-color: #F2F6E1;
	background-image:url('../images/bgPortletFunctionsA_column3a.gif');
	background-repeat:no-repeat;
	background-position: 214px 7px;
	display: block;
	color: #333;
	font-size: 1.1em;
	height: 30px;
	margin: 0px 0px 0 3px;
	padding: 0px 0px 0px 15px;
	position: relative;
	text-decoration: none;
	width: 228px;
}

a.getBehrianM {
	background-image:url('../images/bgPortletFunctionsA_column3b.gif');
	background-color: #EAE0F7;
}

a.getBehrianTrial {
	background-image:url('../images/bgGetBehrianTrial.png');
	background-color: #D9F0FF;
}

a.getBehrianXL:hover {
	background-image:url('../images/bgPortletFunctionsA_column3a_hover.gif');
} 

a.getBehrianM:hover {
	background-image:url('../images/bgPortletFunctionsA_column3b_hover.gif');
}

a.getBehrianTrial:hover {
	background-image:url('../images/bgGetBehrianTrial_hover.png');
}

a.getBehrianXL span, 
a.getBehrianM span ,
a.getBehrianTrial span{

	color: #9AC400;
	display: block;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 7px;
	padding-left: 13px;
}

a.getBehrianM span {
	color: #7132C6;
}

a.getBehrianTrial span {
	color: #0078D7;
}
a.getBehrianXL span.order, 
a.getBehrianM span.order,
a.getBehrianTrial span.order {


	bottom: 7px;
	margin: 0;
	padding-left: 0;
	position: absolute;
	right: 42px;
	white-space: nowrap;
	cursor:pointer;
}


.column3 .banner {
	margin: 9px 3px 0;
}

.columnBanner {
	float: left;
	width: 120px;
}

ul.timeFrame a {
	color: #7D5C54;
	text-decoration: none;
}


.wordtAbonnee {
	background: url('../images/bgTeaserTrial.gif') no-repeat 0 0;
	height: 214px;
	margin-top: 12px;
	padding: 22px;
	position: relative;
	width: 263px;
}


.wordtAbonnee h4 {
	color: #0078D7;
	font-size: 1.4em;
	font-weight: bold;
	margin: 0;
}

.wordtAbonnee p{
	margin: 8px 0 20px;
}

.wordtAbonnee p.narrowText {
	margin: 10px 22px 0px 120px;
}

.wordtAbonnee a {
	background: url('../images/bgWordtAbonneeA.gif') no-repeat 100% 0;
	bottom: 12px;
	color: #0078D7;
	display: block;
	font-size: 1.3em;
	font-weight: bold;
	float: right;
	height: 18px;
	padding-right: 30px;
	position: absolute;
	right: 11px;
	text-decoration: none;
}

.wordtAbonnee a:hover {
	background-position: 100% -60px;
}


/* end homepage */

.content {
	width: 976px;
	z-index: 1;
}

/*  size bgContentHeader.png  is  976 by 108  */
.contentHeader {
	background: url('../images/bgContentHeader.png') no-repeat 0 0;
	padding: 12px 3px 0;
}

.contentHeaderSmall {
	background: url('../images/bgContentHeader.png') no-repeat 0 0;
	height: 20px;
	padding:  4px 140px 0;
	font-size: 1.1em;
}

.contentBody {
	background: url('../images/bgContentBody.png') repeat-y 0 0;
	padding: 0px 3px;
}

.contentBody796 {
	background: url('../images/bgContentBody796.png') repeat-y 0 0;
	padding: 0px 3px;
}
.contentBody.sidebarNarrow {
	background: url('../images/bgContentBodySidebarNarrow.png') repeat-y 0 0;
}

.contentBody.sidebarWide {
	background: url('../images/bgContentBodySidebarWide.png') repeat-y 0 0;
}

.contentFooter {
	background: url('../images/bgContentFooter.png') no-repeat 0 0;
	height: 6px;
}

/* size bgPuzzleFooter.png is  976 by 20    */
.puzzleFooter {
	background: url('../images/bgPuzzleFooter.png') no-repeat 0 0;
	height: 30px;
	padding:  0px 140px 0;
	font-size: 1.1em;
}

.main {
	display: inline;
	float: left;
	padding: 15px 20px 20px;
	position: relative;
}

.contentBody.sidebarNarrow .main {
	width: 785px;
}

.contentBody.sidebarWide .main{
	width: 611px;
}

.contentBody .sidebar {
	background: transparent;
	float: left;
	width: 121px;
}

.contentBody .sidebar200 {
	background: transparent;
	float: left;
	width: 200px;
}


.contentBody.sidebarNarrow .sidebar {
	padding: 12px;
	width: 121px;
}

.contentBody.sidebarWide .sidebar {
	background: transparent;
	float: left;
	padding: 12px 7px;
	width: 304px;
}

.contentBody .sidebar img {
	clear: both;
	float: none;
	margin: 0px 3px 10px;
}

.contentBody .sidebar200 img {
	clear: both;
	float: none;
	margin: 0px 3px 10px;
}

.pageActions {
	height: 22px;
	float: right;
	margin-bottom: 20px;
}

.pageActions a {
	display: block;	
	float: left;
	height: 22px;
	margin-left: 11px;
	text-indent: -999em;
	width: 22px;
}

.pageActions a.print {
	background: url('../images/iconPrint.gif') no-repeat 0 0;
}

.pageActions a.download {
	background: url('../images/iconDownload.gif') no-repeat 0 0;
}

.pageActions a.persPort {
	background: url('../images/iconPersPort.gif') no-repeat 0 0;
}

.pageActions a:hover {
	background-position: 0 -30px;
}

.graphTitle {
	float: left;
	margin-right: 20px;
	width: 376px;
}

.graphLegend {
	float: left;
	font-size: 1.1em;
	margin: 33px 0 10px;
	
}

.graphLegend img {
	margin-right: 12px;
}

.graphLegend.float {
	border: 1px solid #DEDBE9;
	float: left;
	margin: 5px 0px 0px 24px;
	padding: 6px 10px;
}

.flashGraph {
	float: left;
	margin: 10px 0 30px;
}

#dagkoersen {
	margin-bottom: 10px;
}

h4.dagkoers {
	background: url('../images/btnDagkoers.gif') no-repeat 0 0;
	padding-left: 25px;
}

p.timespan span, p.timespan a, p.timespan em {
	display: inline-block;
	margin: 0;
	padding: 2px 3px 4px 0px;
	cursor: pointer;
}

p.timespan a.active, p.timespan a.btn {
	margin: 0px 3px;
	padding: 0 0 0 4px;
	cursor: pointer;
}

p.timespan a.active span, p.timespan a.btn span {
	padding: 2px 4px 4px 0px;
	cursor: pointer;
}


/* overview of stocks */

.subCategory {
	width: 460px;
}

.subCategory li {
	float: left;
	list-style: none;
	margin-right: 5px;
	width: 109px;
}

.subCategory a {
	background: url('../images/bgSubCategory.gif') no-repeat 0 0;
	display: block;
	font-size: 1.1em;
	padding: 0px 0px 0px 13px;
	text-decoration: underline;
}

.subCategory a span {
	color: #333;
	display: block;
	padding: 3px 5px 3px 0px;
}

a.active {
	background: url('../images/bgActive.gif') no-repeat 0 0;
	display: inline-block;
	font-weight: bold;
	padding: 0px 0px 0px 3px;
	text-decoration: none;
}

a.active span {
	background: url('../images/bgActiveSpan.gif') no-repeat 100% 0;
	display: inline;
	padding: 3px 5px 3px 0px;
}

.subCategory a.active {
	background: url('../images/bgSubCategoryActive.gif') no-repeat 0 0;
	padding: 0px 0px 0px 13px;
}

#overzicht h2, #perSector h2 {
	clear: left;
	float: none;
	margin: 0px 0px 10px;
}

#overzicht ul li, #perSector ul li {
	float: left;
	list-style: none;
	margin-right: 10px;
	width: 145px;
}

#overzicht .alphabet li {
	display: inline;
	width: auto;
}

.graphCompare li {
	list-style: none;
	margin: 0;
}

.selectPeriod legend {
	color: #666;
	font-size: 1.2em;
	font-weight: bold;
	margin: 6px 0 7px;
	text-indent: 0;
}

.selectPeriod div {
	background: url('../images/bgSelectPeriod.gif') no-repeat 0 0;
	padding: 11px 0;
	width: 727px;
}

.selectPeriod label {
	margin: 0 5px 0 15px;
	font-size: 1.1em;
}

.selectPeriod select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
}

.selectPeriod_c legend {
	color: #666;
	font-size: 1.2em;
	font-weight: bold;
	margin: 6px 0 7px;
	text-indent: 0;
}

.selectPeriod_c div {
	background: url('../images/bgSelectPeriod_c.gif') no-repeat 0 0;
	padding: 11px 0;
	width: 727px;
}

.selectPeriod_c label {
	margin: 0 5px 0 15px;
	font-size: 1.1em;
}

.selectPeriod_c select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
}


/* registration form */


form.registration,
form .properties {

	background: url('../images/bgFormLi.gif') repeat-x 0 100%;
	margin-bottom: 15px;
}

form.registration fieldset,
form.properties fieldset  {

	margin-top: 15px;
}

form.registration legend,
form.properties legend  {

	color: #0078D7;
	float: none;
	font-size:1.3em;
	font-weight: bold;
	line-height: 1.4em;
	margin: 0 0 0 -8px;
	padding: 0;
}

form.registration .table
form.registration table {
	border: 2px;
}

form.registration label, 
form.registration .label,
.popUpContent label {

	color: #7D5C54;
	display: block;
	float: left;
	font-size: 1.0em;
	font-weight: bold;
	margin-right: 10px;
	width: 130px;
}
form.properties  label,
form.properties  .label{
	color: #7D5C54;
	display: block;
	float: left;
	font-size: 1.1em;
	font-weight: bold;
	margin-right: 10px;
	width:400px;
}

label sup, .label sup {
	color: #F60;
	margin-left: 4px;
}

form.registration label.inline {
	font-weight: normal;
	padding-top: 2px;
	width: auto;
}

form.properties label.inline {
	font-weight: normal;
	padding-top: 2px;
	width: auto;
}

form.registration label.stemmen {
	padding-top: 2px;
	width: auto;
}

#zoekEenFonds form  label{
width:80px;
}
input,
select,
textarea {


	background: #F8F9FC;
	border: 1px solid #D2D2D2;
	color: #333;
	font-family: verdana, arial, sans-serif;
	font-size: 1.0em;
	margin-right: 10px;
}

input.radio {
	background: transparent;
	border: 0;
}

select {
	margin-right: 2px;
}

form ul {
	border-top: 1px solid #D1DAED;
	margin: 7px 0 10px;
}

form ul li {
	/*
	background: url('../images/bgFormLi.gif') repeat-x 0 100%; lijntjes in keuze-menu
	*/
	height: 19px;
	list-style: none;
	padding: 10px 0;
	z-index: 200;
}

input, .input {
	float: left;
	font-size: 1.1em;
	padding: 2px 5px;
	width: 190px;
}

input.smallInput {
	width: 20px;
	padding: 1px;
	margin: 2px;
	border: none;
}

input.radio {
	background: transparent;
	border: 0;
	padding: 0;
	width: auto;
}

.registerPackage {
	margin: 25px 0 40px;
}

.registerPackage legend {
	padding-bottom: 46px;
}

.registerPayment .hr {
	margin: 5px 0 10px;
}

.registerPackage input {
	clear: left;
	display: block;
	float: left;
	margin-top: 15px;
}

form.registration .registerPackage label {
	background-position: 5px 0;
	background-repeat: no-repeat;
	color: #333;
	display: block;
	float: left;
	font-weight: normal;
	margin-bottom: 8px;
	padding: 8px 0px 10px 65px;
	width: 600px;
}

.registerTrial {
	background-image: url('../images/iconTrialLarge.gif');
}

.registerM {
	background-image: url('../images/iconMLarge.gif');
}

.registerXL {
	background-image: url('../images/iconXLLarge.gif');
}

.iconXLLarge.formTitle {
	color: #9AC400;
	font-size: 1.5em;
	font-weight: bold;
	height: 35px;
	margin: 5px 0 -5px;
	padding: 18px 0px 0px 65px;
	text-indent: 0;
	width: auto;
}

.registerPackage label span.formTitle  {
	display: inline;
	font-size: 1.5em;
	font-weight: bold;
	padding-left: 0;
	text-align: left;
}

.registerTrial span.formTitle {
	color: #0078D7;
}

.registerM span.formTitle {
	color: #7132C6;
}

.registerXL span.formTitle {
	color: #9AC400;
}

.registerPayment {
	border-bottom: 1px solid #D1DAED;
}

.registerPayment div {
	float: left;
}

.registration .registerPayment label {
	color: #544541;
	font-weight: normal;
	margin-bottom: 10px;
	width: 400px;
}

.registerPayment input {
	clear: left;
}

.registerPayment img {
	float: left;
	margin-right: 15px;
}

/* deze oa voor abonnementen/registreren en abonnementen/idealbetalen */
.registration .submit {
/*background: transparent url('../images/btnSubmitRegistration.gif') no-repeat center top;*/
  background: transparent url('../images/btnSubmit.gif') no-repeat center top;
  border: 0;
  cursor: pointer; /* hand-shaped cursor */
  height: 39px;
  line-height: 200em;
  margin: 20px 0;
  padding: 0;
  text-indent: -1000em;
  width: 169px;
}

.registration .submit:hover {
  background-position: 0 -60px;  
}

#huisnummer {
	width: 30px;
}

#postcode {
	width: 60px;
}

#land {
	padding-left: 5px;
	width: 202px;
}

span#wachtwoord {
	display: block;
	float: left;
	width: 212px;
}

.popUpContent label {
	float: none;
	width: auto;
}

fieldset.selectBox {
	background: #F1EEED;
	float: left;
	height: 233px;
	margin: 0px 15px 0px 0;
	padding: 0;
	position: relative;
	width: 201px;
}

fieldset.selectBox.last {
	margin-right: 0;
}

fieldset.selectBox .selectDisabled {
	background: #FFF;
	bottom: 0;
	height: 233px;
	left: 0;
	opacity: 0.5;
	filter:alpha(opacity=50);
	position: absolute;
	right: 0;
	top: 0px;
	width: 100%;
	z-index: 29999;
}

fieldset.selectBox legend {
	height: 0;
	margin: 0;
	padding: 0;
}

fieldset.selectBox span.legend {
	background: #DDD5D3;
	color: #4F3A35;
	display: block;
	font-weight: bold;
	margin: 0;
	padding: 8px 10px;
	/*position: absolute;*/
	width: 181px;
}

fieldset.selectBox .tooltip {
	position: absolute;
	right: -5px;
	top: 4px;
	z-index: 2999;
}

fieldset.selectBox label {
	color: #333;
	float: left;
	font-weight: normal;
	line-height: 20px;
	margin-top: 20px;
	width: auto;
}

fieldset.selectBox select {
	background: transparent;
	border: 0;
	display: block;
	margin: 15px 15px 0;
	width: 171px;
}

fieldset.selectBox input {
	margin-right: 3px;
	width: auto;
}


/** **/
fieldset.selectBox {



}

/** **/
.inputAddPortfolio, 
.inputReset {

	background-image: url('../images/inputAddPortfolio.gif');
	border: 0;
	cursor: pointer; /* hand-shaped cursor */
	height: 20px;
	right: 5px;
	line-height: 999em;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	text-indent: -999em;
	width: 151px;
}

.inputOpslaan, 
.btn.inputOpslaan {

	background-image: url('../images/inputOpslaan.gif');
	border: 0;
	cursor: pointer; /* hand-shaped cursor */
	height: 20px;
	right: 5px;
	line-height: 999em;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	text-indent: -999em;
	width: 89px;
}

.inputReset {
	background-image: url('../images/inputReset.gif');
	left: 5px;
	width: 67px;
}

.btn.btnAddPortfolio span {
	background-image: url('../images/btnAddPortfolio.gif');
	margin-right: 10px;
	padding-right: 25px;
}

.btn.btnCopyPortfolio span {
	background-image: url('../images/btnCopyPortfolio.gif');
	padding-right: 25px;
}

/* subscription comparison chart */

.subscriptionOverview {
	border-bottom: 1px solid #D1DAED;
}

.subscriptionOverview thead span {
	margin: 0 auto;
}

.subscriptionOverview td {
	background: #fff;
	border-right: 5px solid #fff;
	font-size: 1.1em;
	padding: 7px 15px 13px;
}

.subscriptionOverview td .btn {
	font-size: 1em;
}

td.subDescription {
	font-weight: bold;
	padding-left: 6px;
	width: 213px;
}

.odd .subDescription {
	background: #EBE6E5;
}

.odd .subNone {
	background: #F3F0EF;
	width: 120px;
}
	
.odd .subTrial {
	background: #D9F0FF;
	width: 121px;
}

.odd .subM {
	background: #EAE0F7;
	width: 119px;
}

.odd .subXL {
	background: #F0F6D9;
	width: 119px;
}

.subscriptionOverview ul {
	margin-left: 5px;	
}

.subscriptionOverview li{
	background: url('../images/bgLi.gif') no-repeat 0 6px;
	list-style: none;
	padding-left: 8px;
}

.iconCheck {
	background: url('../images/iconCheck.png') no-repeat 0 0;
	display: block;
	height: 19px;
	text-indent: -999em;
	width: 20px;
}

/* footer */

div.footer {
	clear: both;
	color: #FFF;
	float: none;
	font-family: arial, verdana, sans-serif;
	font-size: 1.1em;
	margin: 0 auto;
	padding: 10px 10px 50px 0;
	width: 972px;
}

.footer span {
	float: left;
}

.footer ul {
	float: right;
}

.footer ul li {
	background: url('../images/bgFooterLi.gif') no-repeat 0 2px;
	display: inline;
	list-style: none;
	padding: 0px 5px 0px 7px;
}

.footer ul li.first {
	background: none;
}

.footer a {
	color: #FFF;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}
/* sitemenu */



ul.sitemenu  {
position:relative;
	float: right;
	top:-24px;
	
	margin: 0 0px -18px 0;
	padding-right:20px;
}

ul.sitemenu  li {
	background: url('../images/bgFooterLi.gif') no-repeat 0 2px;
	display: inline;
	list-style: none;
	padding: 0px 5px 0px 7px;
}

ul.sitemenu  li.first {
	background: none;
}

.sitemenu a {
	color: #FFF;
	text-decoration: none;
}

.sitemenu a:hover {
	text-decoration: underline;
}


.portlet.functions a span.stijgers, .portlet.functions a span.dalers{
margin: 0;
padding:0;
width:16px;
height:16px;
display:inline-block;
font-size:1em;
font-weight:normal;
text-indent:-999em;
/*position: absolute;*/
/*background: url('../images/stijgers.png') no-repeat 0 2px;*/

}

.portlet.functions a span.stijgers{
background: url('../images/stijgers.png') no-repeat 0 0px;
}

.portlet.functions a span.dalers{
background: url('../images/dalers.png') no-repeat 0px 0px;
}
.portletContent p span.freeTrial{


margin: 0 -8px 0 0;
padding:0;
width:53px;
height:30px;
display:inline-block;
font-size:1em;
font-weight:normal;
text-indent:-999em;
float:left;
left:-9px;
top:-8px;
position: relative;
background: transparent url('../images/iconTrialLargeBottom.png') no-repeat 0 0px;

}

.portlet .portletBody  div.freeTrial.s{
	background: #D1DAED url('../images/iconTrialLargeTop.png') no-repeat 6px bottom;
	padding-left:60px;
}

#aex td,#amx td,#ascx td{
text-align: right;
}

#aex td.fc,#amx td.fc,#ascx td.fc{
text-align: left;

}

#aex td.hc,#amx td.hc,#ascx td.hc{
display:none;
}


/*games pagina*/
#puzzle_menu ul li {
    /*float:left;*/
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
    /*margin-right:10px;*/
    /*width:140px;*/
}

/* einde games pagina */
/*indices */
#AEX_Sept_2010 table table table td, #AEX_2011 table table table td{
border-right: solid 10px #fff;
}
/*strectable PP_details pagina*/


.contentHeaderBackgroundRight{
padding:26px 3px 6px;
margin: -12px -3px -4px;
background:url('../images/bgContentHeaderRight.png') no-repeat scroll right top transparent;
}

.contentHeaderBackgroundRight h1{
margin-top:-16px;
}

.contentBodyBackgroundRight{
margin: 0px -3px 0px;
background:url('../images/bgContentBodyRight.png') repeat-y scroll right top transparent;
}

.contentFooterBackgroundRight{
background:url('../images/bgContentFooterRight.png') no-repeat scroll right top transparent;
height:6px;
}

/* watermark classes behind the Flash graphics*/
.watermark_200 {
	background-image:url('../images/watermark_200.png'); 
	background-repeat:no-repeat; 
	background-position: right 40px;
}

.watermark_240 {
	background-image:url('../images/watermark_240.png'); 
	background-repeat:no-repeat; 
	background-position: right 40px;
}

.watermark_300 {
	background-image:url('../images/watermark_240.png'); 
	background-repeat:no-repeat; 
	background-position: right 50px;
}

.watermark_400 {
	background-image:url('../images/watermark_400.png'); 
	background-repeat:no-repeat; 
	background-position: right 40px;
}

.watermark_js {
	background-image:url('../images/watermark_400.png');
	background-size:47%;
	background-repeat:no-repeat; 
	background-position: right 51px;
}

/* dit is een aanpassing voor de PP Grafieken*/
.watermark_401 {
	background-image:url('../images/watermark_300.png'); 
	background-repeat:no-repeat; 
	background-position: right 40px;
}

#textads a {
	font-weight : bold;
	color : #FFFFFF;
	background-color:#5E66A4; 
	margin-left: 20px;
}

#textads a:hover {
	color: #FF3333;
}

#divJig {
       margin-left: 100px;
}

.amChartsPlotArea {
	fill:#5E67A4;
	fill-opacity:0.1;
	background-image:url('../images/watermark_200.png');
	background-repeat:no-repeat;
	background-position:90% 60%;
	background-size:38%;
}
