/* Print styles */

/* display the url after linktext in css2-compliant browsers 
.content a:link:after,  .content a:visited:after {
   content: " (" attr(href) ") ";
   color: #666;
   font-size: 90%;
}
*/
*, #header {
	background: none;
}

#header form,
#header div,
#header #headertext,
.skiplink, 
.breadcrumb, 
.sidebar,
.columnBanner,
.pageActions,
.idTabs,
.printButton,
.footer,
.headerBanner,
.banner,
.sitemenu,
/*tfoot,*/
#tabs ul,
/*#Dagkoers,*/
/*.portletContent a.btn,*/
.portletContent .getBehrianXL,
.portletContent .getBehrianM,
.portletContent .getBehrianTrial,
span.freeTrial,
#KoersWinst,
.btnAddPortfolio ,
th.portfolioDiv.header,
a#Dagkoers.btn,
a#addPortfolio,
a#TA{
	display: none !important;
}

.logo img {
	display: none;
}

.logo {
	color: #fff;
	display: list-item;  
	font-size: 1pt;  
	height: 32px;            
	list-style-image: url('../images/logoPrint.png');
	list-style-position: inside;
	letter-spacing: -1000em;
	margin: 20px 0 30px;
	width: 152px;
	float: right;
}

.posLow {
	color:#E57F7F;
}

.posHigh {
	color:#7FBBEB;
}

body, td, th {
	background: #FFF;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
}

td ,th{
/*	font-size:60%;*/ 
}

h2,h3 {
	clear:both;
}
h1{
/*	font-size:14pt;*/
	font-size:12pt;
}
/* release size, padding & margin on the container */
.container {
	background: transparent;
	margin: 0 0%;
	padding: 0;
	width: 100%;
}
table.shares tr.odd td {
/*background-color:#F8F6F6;*/
background-color:#ddd;
}

.content a {
	color: #520;
	text-decoration: underline;
}
table.shares td, table.shares th {
/*	font-size: .7em;*/
	padding: 3px 2px;
}

table.shares th {
	border-right: 1px solid #FFF;
/*	font-size: .8em;*/
	padding: 3px 2px;
}

.portletBody ul.idTabs li a.selected span{
	display:block;
}
.portletContent a.btn{
	text-decoration:none;
	float:left;
}

#dagkoersen table.shares.portfolio tbody td {
	padding-right:30px;
}

table.closingValues td {
	padding-right:8px;
}

.shareDetails {
	background-repeat: no-repeat;
	background-image: none !important;
}

#column2 li a , 
#column3a li a , 
#column3b li a {
	text-decoration:none;
/*	font-size:.9em;*/
}

#column2 li a span, 
#column3a li a span, 
#column3b li a span{
	display:block;
	font-weight:bold;
}

#column2 li a span.stijgers, 
#column2 li a span.dalers{
	display:inline;font-weight:normal;
}

/* PP pagina's */
.hideforprint {
	display: none !important;
}

.resetforprint {
	float: none !important;
}


/* make sure to unfloat long, floated elements; these cause printing to break */
/*
... {float: none !important; color: #520}
*/
